.layout-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.nav-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--color-cuaternario);
  padding: 0.5rem 1rem;
  border-bottom: 1px solid var(--color-cuaternario);
}

.nav-options {
  display: flex;
  gap: 1rem;
  margin-right: auto;
}

.nav-item {
  color: var(--color-fuente-principal);
  font-family: var(--fuente-texto);
  cursor: pointer;
}

.profile-picture {
  display: flex;
  align-items: center;
}

.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.main-content {
  display: flex;
  flex: 1;
}

.side-menu {
  width: 220px;
  background-color: var(--color-cuaternario);
  color: var(--color-fuente-principal);
  padding: 1rem;
}

.side-menu ul {
  list-style: none;
}

.page-content {
  flex: 1;
  padding: 1rem;
  color: var(--color-fuente-principal);
  background-color: var(--color-background);
}

/* Responsive */
@media screen and (max-width: 768px) {
  .nav-bar {
    display: none; /* ocultamos nav superior en mobile */
  }

  .main-content {
    flex-direction: column;
  }

  .side-menu {
    width: 100%;
  }

  .side-menu ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .page-content {
    padding: 0.5rem;
  }
}
